.box {
    border: 50px solid red;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
}
.box-green {
    border: 50px solid green;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
}
.box-blue {
    border: 50px solid blue;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
}
.box-violet {
    border: 50px solid #8e44ad;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
}
.box-hidden {
    border: 50px solid green;
    width: 200px;
    padding: 50px;
    margin-bottom: 20px;
    visibility: hidden;