body {
    display: contents;
}

.navbar {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    margin-right: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.nav-icon{
  text-align: center;
  color: #64666a;
  margin-right: 10px;
  padding: 10px;
}

.nav-button {
    border-radius: 100px;
    background: #0b57d0;
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: "Google Sans Text", Roboto, Helvetica, Arial, sans-serif;
    padding: 10px 0px 12px;
    min-width: 85px;
    text-decoration: none;
    border: none;
}

.nav-icon:hover {
    background-color:rgba(60, 64, 67, .08) ;
    border-radius: 50%;
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-button:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
}

.body {
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
}

.space-top {
    flex: 1;
    max-height: 200px;
    min-width: none;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 300px;
}

.search-box {
    width: min(600px, 90vw);
    height: 46px;
    margin: 10px auto;

    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 26px;
    border: 1px solid #dadce0;
    padding: 0 16px;
    box-sizing: border-box;
}

.input-area {
    flex: 1 1 auto;
    min-width: 0;
    border: none;
    outline: none;
}

.search-box:hover {
    background: #fff;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
}

.search-box:focus {
    background: #fff;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    outline: none;
}

.search-icon {
    flex: 0 0 auto;
    color: #9aa0a6;
}

.mic-icon {
    flex: 0 0 auto;
    color: #9aa0a6;
    cursor: pointer;
}

.button-area {
    padding: 18px 0px;
}

.button-style {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    color: #3c4043;
    font-family: Google Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

.button-style:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

.language-area {
    font-family: Google Sans, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #3c4043;
    padding: 20px 0px;
}

.language {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

.language:hover {
    text-decoration: underline;
}

.footer-area {
    margin-top: 300px;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
}

.footer-first {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-family: Google Sans, Arial, sans-serif;
    color: #1f1f1f;
}

.footer-second {
    position: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 15px 20px;
    font-size: 14px;
    font-family: Google Sans, Arial, sans-serif;
    color: #1f1f1f;
}

.footer-second-left {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px 16px;
    white-space: nowrap;
}

.footer-second-right {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px 16px;
    justify-content: flex-end;
    white-space: nowrap;
    
}


.footer-a {
    padding: 0 10px;
    text-decoration: none;
    color: #1f1f1f;
}

.footer-a:hover {
    text-decoration: underline;
}