h1 {
    color: #9b59b6;
}

p {
    font-size: 16px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-header {
    color: #2980b9;
}
P::first-letter {
    font-size: 200%;
    color: #2980b9;
}
h1::before {
    content: "Topic:";
}
body {
    padding-left: 10%;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
h1:first-child {
    text-align: center;
}